* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}
#hero {
  background-image: url(./joshuaa.jpg);
  background-position: top center;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}
body {
  overflow-x: hidden;
}
section .first-head {
  width: 100%;
}
header {
  width: 100%;
}
header .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s ease;
  z-index: 10000;
}
header .header .active {
  width: 100%;
  background: transparent;
}
.header .logo {
  /* position: relative; */
  font-weight: 700;
  color: orange;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 4px;
  transition: 0.6s ease;
}
header .header ul {
  /* position: relative; */
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header ul li {
  padding: 0 30px;
  /* position: relative; */
  transition: 0.5s ease;
}
header .header ul li a {
  color: orange;
}


.body-body{
  width: 90%;
  max-width: 1100px;
  margin: auto;
}
html {
  scroll-behavior: smooth;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

#hero h1 {
  display: block;
  position: relative;
  width: fit-content;
  color: transparent;
  font-size: 4rem;
  animation: text-reveal 0.5s ease forwards;
  animation-delay: 1.5s;
}
#hero h1:nth-child(1) {
  animation-delay: 1.5s;
}
#hero h1:nth-child(2) {
  animation-delay: 2.5s;
}
#hero h1:nth-child(3) {
  animation: text-reveal-name 0.5 ease forwards;
  animation-delay: 3.5s;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}
a {
  text-decoration: none;
}
#hero h1 span {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  position: absolute;
  background-color: crimson;
  animation: text-reveal-box 1s ease;
  animation-delay: 1s;
}
#hero h1:nth-child(1) span {
  animation-delay: 1s;
}
#hero h1:nth-child(2) span {
  animation-delay: 2s;
}
#hero h1:nth-child(3) span {
  animation-delay: 3s;
}
#hero::after {
  content: "";
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
.btn {
  background-color: transparent;
  border: 2px solid crimson;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3 ease;
  transition-property: background-color, color;
  border-radius: 10px;
  text-transform: uppercase;
}
.menu-open{
  position: fixed;
  z-index: 2;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: orange;
  display: none;
  cursor: pointer;
}
.section-title {
  margin-top: 50px;
}
.btn:hover {
  background-color: crimson;
  color: white;
}
#projects .project-items .projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background-color: black;
  opacity: 0.8;
  color: whitesmoke;
  
  width: 100%;
  height: 250px;
  border-radius: 10px;
  
  
}
#projects{
  margin: 20px auto;
}
#projects .project-items .projects .image{
  height: 150px;
}
#projects .project-items .projects p{
  padding: 10px;
  text-align: center;
}
#projects .project-items .projects h4{
  
  text-align: center;
}
#projects .project-items .projects .image img{
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
}
#projects .project-items .projects{
  width: 95%;
  height: 350px;
}
#projects .project-items{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: auto;
  grid-gap: 20px;
  
}
#projects  h1{
  margin: 30px 0px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 5px;
  font-size: 2.5rem;
}

#about h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
#about {
  line-height: 30px;
}
#about .about {
  display: flex;
  justify-items: space-between;
  /* align-items: flex-start; */
}
#about .column-left .about-image {
  margin-right: 30px;
}

ul {
  list-style-type: none;
}
#about .about-para {
  margin-bottom: 25px;
}
#skill-set h1 {
  font-size: 2.5rem;
  text-align: center;
}
.skils {
  background-color: #f5f8fd;
  margin-top: 40px;
  padding: 40px;
  border-radius: 10px;
  /* overflow: hidden; */
}
.skils h2 {
  padding-left: 20px;
}

.skill-set ul li {
  padding: 15px;
}
.skill-set ul {
  padding-top: 20px;
}
.progress {
  margin-left: 10px;
  height: 10px;
  width: 400px;
  position: relative;
  background-color: #ccc;
  border-radius: 20px;
}
.progress-size {
  height: 100%;
  background-color: orange;
  width: 90%;
  position: absolute;
  transition: ease-out;
  transition-property: right;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.progress-size1 {
  height: 100%;
  background-color: orange;
  width: 80%;
  position: absolute;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.progress-size2 {
  height: 100%;
  background-color: orange;
  width: 50%;
  position: absolute;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.progress-size3 {
  height: 100%;
  background-color: orange;
  width: 30%;
  position: absolute;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.progress-size4 {
  height: 100%;
  background-color: orange;
  width: 2%;
  position: absolute;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.progress-size5 {
  height: 100%;
  background-color: orange;
  width: 30%;
  position: absolute;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
#contact .section-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
#contact .whatsapp:hover {
  transform: scale(1.05);
}
#contact .phone:hover {
  transform: scale(1.05);
}
#contact .email:hover {
  transform: scale(1.05);
}
#contact .facebook:hover {
  transform: scale(1.05);
}
#contact h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 60px;
}
.whatsapp {
  box-shadow: 0 0 20px rgba(72, 94, 116, 0.7);
  padding: 20px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.phone {
  box-shadow: 0 0 20px rgba(72, 94, 116, 0.7);
  padding: 20px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.facebook {
  box-shadow: 0 0 20px rgba(72, 94, 116, 0.7);
  padding: 20px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.email {
  box-shadow: 0 0 20px rgba(72, 94, 116, 0.7);
  padding: 20px;
  border-radius: 10px;
  transition: 0.5s ease;
}
footer{
  margin-bottom: 30px;
}
footer span{
  color: orange;
}

@keyframes text-reveal-box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text-reveal {
  100% {
    color: white;
  }
}
@keyframes text-reveal-name {
  100% {
    color: orange;
  }
}
@media (max-width: 1200px) {
  #projects .all-projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 30%;
    margin-left: 200px;
    height: 300px;
  }
  #projects .all-projects img {
    width: 100%;
  }
  #projects .all-projects .first-projects {
    margin-bottom: 180px;
  }
  #projects .first-projects:hover {
    transform: scale(1.028);
  }
}
@media (max-width: 700px) {
  #hero .hero h1{
    font-size: 50px;
  }
  .icon{
    display: block;
    cursor: pointer;
  }
  #projects .project-items  {
   grid-template-columns: repeat(1,1fr);
   width: 50%;
   
  }
  #projects .project-items .projects{
    height: 300px;
  }
  #about .about{
    flex-direction: column;
  }
  #about .about .column-left {
    margin: auto;
  }
  .list-items{
    flex-direction: column;
  }
  #skill-set{
  margin-bottom: 40px;

  }
header  .header {
    display: block;
    top: 0;
    left: 0;
  }
  header  .header .logo{
    display: none;
  }
  .header .navbar nav ul{
    display: block;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    width: 50%;
    height: 100vh;
    position: absolute;
    transform: translateX(-500px);
    transition: transform 0.4s cubic-bezier(0.27, 0.46, 0.33, 1.35);

  }
  .header .navbar nav ul.opennavbar{
    transform: translateX(0px);

  }

  .header .navbar nav ul.open{
    transform: translate(0px);
  }
  .header .navbar nav ul li{
    padding: 20px;
    margin-left: 20px;
  }
  .menu-open{
    display: block;
  }
}
  
@media (max-width: 950px) {
  
  .progress{
    width: 300px;
}
#contact .section-items{
  grid-template-columns: repeat(2,1fr);
}
}
@media (max-width: 500px){
  #contact .section-items{
    grid-template-columns: 1fr;
    width: 100px;
    margin: 0 0 0 45px;
  }
}